/* Estilo do corpo e elementos */
body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1e;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

/* Container principal */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    padding-bottom: 100px; /* Para garantir espaço para o rodapé */
}

hr {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, #424242, #272727);
    margin: 10px 0;
}


/* Campo de entrada para adicionar itens */
.campo-input {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.campo-input input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3c;
    color: #fff;
    box-sizing: border-box;
}

.botao-adicionar-item {
    background-color: #1b804d; /* Vermelho para remover */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    font-size: 20px; /* Tamanho do ícone */
}

/* Lista de itens */
.itens-mercado {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.item-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #2c2c2e;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: 1px solid #3a3a3c;
    position: relative;
}

/* Ajuste do item para o estilo de coluna */
.item-mercado {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.item-mercado .titulo,
.item-mercado .valor,
.item-mercado .quantidade {
    font-size: 14px;
    color: #fff;
}

.item-mercado .titulo {
    font-size: 16px;
}

/* Ajustes para o botão de menu (três pontos) */
.menu-opcoes {
    position: absolute;
    top: 12px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.menu-principal {
    position: absolute; 
    top: 10px; 
    right: 10px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 30px;
}

.itens-mercado .dropdown-opcoes.ativo {
    display: block;
    right: 22px;
    top: 30px;
    padding: 8px 10px;
    color: #fff;
    text-align: left;
    cursor: pointer;
}

/* Estilo do dropdown de opções no cabeçalho */
.dropdown-opcoes {
    display: none;
    position: absolute;
    top: 40px; /* Abaixo do botão de menu */
    right: 25px;
    padding: 8px 10px;
    background-color: rgba(58, 58, 60, 0.993); /* Cor de fundo com transparência */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Para manter o dropdown acima de outros elementos */
}

.dropdown-opcoes.ativo {
    display: block;
}

.dropdown-opcoes button {
    display: block;
    width: 100%;
    padding: 8px 10px;
    color: #fff;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropdown-opcoes button:hover {
    background-color: #4a4a4c50;
    border-radius: 3px;
    
}

/* Botões de ações */
.botao-transacao {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #32d74b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-transacao:hover {
    background-color: #34c759;
}

/* Botão para adicionar ao carrinho */
.botao-adicionar-carrinho {
    background-color: #34c75900; /* Verde para adicionar */
    color: #dd4444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    font-size: 35px; /* Tamanho do ícone */
    margin-left: 10px; /* Espaçamento à esquerda */
}


/* Botão para remover do carrinho */
.botao-remover-carrinho {
    background-color: #00000000; /* Vermelho para remover */
    color: #33b373;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    font-size: 35px; /* Tamanho do ícone */
    margin-left: 10px; /* Espaçamento à esquerda */
}

.subtotal {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0; /* Remove margens */
}

.titulo-subtotal {
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin-top: 25px;
}

.titulo-subtotal h3 {
    margin: -3px; /* Remove margens */
}

.subtotal h2 {
    margin: 0; /* Remove margens */
}

/* Estilos dos Modais */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-conteudo {
    background-color: #2c2c2ea1;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.modal-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.modal-fechar {
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
}

.modal-form-grupo {
    margin-bottom: 15px;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.modal-form-grupo label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
}

.modal-form-grupo input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3c;
    color: #fff;
    box-sizing: border-box;
    margin-top: 5px;
}

/* CSS para notificação de alerta */
.notificacao {
    position: fixed;
    top: 20px; /* Ajuste a partir do topo */
    left: 50%; /* Posiciona o elemento no centro horizontalmente */
    transform: translateX(-50%); /* Centraliza o elemento */
    background-color: rgb(53, 53, 53); 
    color: white; /* Cor do texto */
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    z-index: 1000; /* Certifique-se de que a notificação fique acima de outros elementos */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    gap: 10px;
    animation: slideDownUp 3s ease forwards; /* Animação de descer e subir */
    width: 300px;
}


@keyframes slideDownUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%); /* Começa fora da tela por cima */
    }
    10% {
        opacity: 1;
        transform: translate(-50%, 0); /* Entra na tela descendo */
    }
    90% {
        opacity: 1;
        transform: translate(-50%, 0); /* Mantém na tela */
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -100%); /* Sai da tela subindo */
    }
}

/* Ajuste para o contêiner do item */
.item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Espaçamento entre os itens */
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #2c2c2e;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    border: 1px solid #3a3a3c;
    width: 100%; /* Ocupa o máximo de largura permitido */
}

/* Estilo do subtotal dentro do cabeçalho */
.subtotal {
    text-align: center;
}

/* CSS para o alerta customizado */
.alerta-custom {
    position: fixed;
    top: 20px; /* Ajuste a partir do topo */
    left: 50%; /* Posiciona o elemento no centro horizontalmente */
    transform: translateX(-50%); /* Centraliza o elemento */
    background-color: rgb(53, 53, 53); 
    color: white; /* Cor do texto */
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    justify-content: center; /* Centraliza horizontalmente */
    z-index: 1000; /* Certifique-se de que a notificação fique acima de outros elementos */
    display: flex;
    align-items: center;
    animation: slideDownUp 3s ease forwards; /* Animação de descer e subir */
    width: 300px;
}

/* Classe para mostrar o alerta */
.alerta-custom.mostrar {
    opacity: 1; /* Torna o alerta visível */
}

/* Remove a borda azul de foco padrão nos elementos interativos */
button:focus,
input:focus,
select:focus,
textarea:focus,
a:focus {
    outline: none;
    box-shadow: none;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}
